* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1 {
    color: white;
}

.ball {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;

    margin: auto;

    border-radius: 50%;
    background-color: bisque;
    border: 1px black solid;


}