* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1 {
    color: white;
}

.ball {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100px;
    height: 100px;

    margin: auto;

    font-weight: bold;
    font-size: 22px;

    border-radius: 50%;
    background-color: bisque;
    border: 1px black solid;

    transition: 0.5s  ease-out ;

}
